# ==============================================
# Database Configuration
# ==============================================
DB_NAME=fiap_read_api_db
DB_USER=fiap_read_user
DB_PASSWORD=fiap_read_password
DB_PORT=5434

# ==============================================
# Development Service Configuration
# ==============================================
DEV_PORT=3003

# ==============================================
# Production Service Configuration
# ==============================================
PRD_PORT=3004

# ==============================================
# Keycloak Configuration
# ==============================================
KEYCLOAK_URL=http://fiap-keycloak:8080
KEYCLOAK_REALM=fiap-pos-tech
KEYCLOAK_CLIENT_ID=pos-tech-api
