# Database Configuration
DATABASE_URL=postgresql://fiap_pos_tech_user:fiap_pos_tech_password@fiap-pos-tech-db:5432/fiap_pos_tech_db

# Server Configuration
PORT=3003
NODE_ENV=development

# Keycloak Configuration (for JWT validation)
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=fiap-pos-tech
KEYCLOAK_CLIENT_ID=pos-tech-api
